App_WebReferences/ServiceReference/FinalProjectService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfShowInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShowInfo" nillable="true" type="tns:ShowInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShowInfo" nillable="true" type="tns:ArrayOfShowInfo" />
  <xs:complexType name="ShowInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArtistName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TicketInfo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShowInfo" nillable="true" type="tns:ShowInfo" />
  <xs:complexType name="VenueRegister">
    <xs:sequence>
      <xs:element minOccurs="0" name="venueAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="venueAgeRestriction" type="xs:int" />
      <xs:element minOccurs="0" name="venueCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="venueEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="venueLoginPasswordPlain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="venueLoginUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="venueName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="venuePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="venueState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="venueWebPage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="venueZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VenueRegister" nillable="true" type="tns:VenueRegister" />
  <xs:complexType name="FanRegister">
    <xs:sequence>
      <xs:element minOccurs="0" name="FanEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FanLoginPasswordPlain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FanLoginUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FanName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FanRegister" nillable="true" type="tns:FanRegister" />
</xs:schema>